body {
    background-color: #f0e68c;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    width: 80%;
}

.table-container {
    margin: 20px auto;
    overflow-x: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    border: 1px solid #dddddd;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.button {
    padding: 8px 12px;
    background-color: #32CD32;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #228B22;
}

#myInput {
    padding: 6px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

/* Estilo personalizado para el botón de Género */
.dropdown-toggle {
    background-color: white !important;
    border: none !important;
    color: black !important;
    font-weight: 700 !important;
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none !important;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: white !important;
    color: black !important;
}

.dropdown-toggle::after {
    color: black !important;
}

/* Centrar y hacer responsive la paginación */
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px auto;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #007bff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    background-color: #f8f9fa;
    border-color: #ddd;
}
